<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignUpLogInFirebase"
        tools:targetApi="31">

        <!-- Activity pertama yang akan dijalankan -->
        <activity
            android:name=".LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity SignUp hanya untuk registrasi -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Activity Main, ditambahkan exported=true jika dipanggil dari luar aplikasi -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Daftarkan Activity EnrollmentMenu -->
        <activity
            android:name=".EnrollmentMenuActivity"
            android:exported="true" />

        <!-- Daftarkan Activity EnrollmentSummary -->
        <activity
            android:name=".EnrollmentSummaryActivity"
            android:exported="true" />

    </application>

</manifest>
